{% extends 'layout.html' %}
{% block content %}

<div class="container mt-4" style="width: 500px;">
{% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="" class="form-group" autocomplete="off">
      {{ form.hidden_tag() }}
      {{render_field(form.firstname, class="form-control")}}
      {{render_field(form.lastname, class="form-control")}}
      {{render_field(form.username, class="form-control", placeholder="Please enter min 4 characters")}}
      {{render_field(form.dob, class="form-control", placeholder="dd-mm-yyyy")}}
      {{render_field(form.country, class="form-control")}}
      {{render_field(form.email, class="form-control")}}
      {{render_field(form.password, class="form-control", placeholder="Please enter min 6 characters")}}
      <p><input type="submit" class="btn btn-success" value="Register"></p>
  
  </form>
</div>
{% endblock %}